.zoom {
    background-size: 100% 100%;
    background-position: center center;
}

.zoom-enter {
    animation: zoom-enter 1s ease-out 0s 1;
}

.zoom-exit {
    animation: zoom-init 1s ease-out 0s 1;
}

@keyframes zoom-init {
    0% {
        background-size: 110% 110%;
    }
    100% {
        background-size: 100% 100%;
    }
}
@keyframes zoom-enter {
    0% {
        opacity: 0;
        background-size: 110% 110%;
    }
    100% {
        opacity: 1;
        background-size: 100% 100%;
    }
}
@keyframes zoom-exit {
    0% {
        opacity: 1;
        background-size: 100% 100%;
    }
    100% {
        opacity: 0;
        background-size: 110% 110%;
    }
}
